[Unit]
Description=Gunicorn server

[Service]
Restart=on-failure
User=lucho
WorkingDirectory=/home/lucho/sites/SITENAME/source \
    simple.wsgi:application
